/* .selected {
    background-color: #333;
    color: #fff;
}

.option-button {
    background-color: red;
    color: wheat;
} */

.option-button {
    background-color: #e2e8f0;
    color: #005eff;
    padding: 8px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.option-button.selected {
    background-color: green;
    color: #ffffff;
}